:root {
  --color-primary: #6366f1;
  --color-primary-light: #eef2ff;
  --color-primary-dark: #4338ca;

  --color-grey-light-1: #f9fafb;
  --color-grey-light-2: #f3f4f6;
  --color-grey-light-3: #e5e7eb;
  --color-grey-light-4: #d1d5db;

  --color-grey-dark-1: #111827;
  --color-grey-dark-2: #374151;
  --color-grey-dark-3: #6b7280;

  --shadow-dark: 0 24px 60px rgba(17, 24, 39, 0.2);
  --shadow-light: 0 10px 25px rgba(17, 24, 39, 0.08);

  --line: 1px solid var(--color-grey-light-3);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
