:root {
  --color-primary: #6366f1;
  --color-primary-light: #f1f5f9;
  --color-primary-dark: #4f46e5;

  --color-grey-light-1: #f9fafb;
  --color-grey-light-2: #f3f4f6;
  --color-grey-light-3: #e5e7eb;
  --color-grey-light-4: #d1d5db;

  --color-grey-dark-1: #111827;
  --color-grey-dark-2: #4b5563;
  --color-grey-dark-3: #9ca3af;

  --shadow-dark: 0 2rem 6rem rgba(15, 23, 42, 0.3);
  --shadow-light: 0 2rem 5rem rgba(15, 23, 42, 0.06);

  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-dark-2);
  background-image: linear-gradient(
    to right bottom,
    var(--color-primary-light),
    var(--color-primary-dark)
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}
